* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-size: 1.2rem;
    padding: 0.3rem 0;
}


button {
    background-color: rgb(114, 130, 184);
    color: white;
    border: none;
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

button:hover {
    background-color: rgb(100, 116, 170);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

legend {
    font-size: 2.7rem;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    padding: 2rem;
    border: 0;
}

input {
    height: 2.3rem;
    padding: 0.7rem;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    color:rgb(30, 36, 58);
    background: none;
    background-size: 1rem;
}

input[type="text"]:valid {
    background: url(/assets/undraw_check.svg) no-repeat 98%;
    transition: 0.3s ease-in-out;
}

.input {
 display: flex;
 flex-flow: column nowrap;
 width: 40%;
}

#sign-up-form-container {
   align-self: center;
   padding: 4rem;
}

#side {
    background-color: rgb(154, 166, 230);
    width: 70%;
    height: 100vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#side h2 {
    font-size: clamp(1.5rem, 5vw, 3.4rem);
    color: white;
    padding: 2rem 0;
}
